@use 'styles/mixins' as m;
@import 'variable';
@import 'base.module';

.mediaquery_wrap {
  max-width: var(--max-width);
  min-width: var(--min-width);
  background-color: var(--color-white);
  margin: auto;

  position: relative;

  .content_wrap {
    padding: 10px;
    min-height: 640px;
    margin: 60px 0 50px;
  }
}

.back_shadow {
  box-shadow: 0 4px 8px rgba(85, 85, 85, 0.1);
}

.legalText {
  white-space: pre-line;
  font-size: 0.9rem;
}
