@use 'styles/mixins' as m;
@import 'variable';
@import 'base.module';

.mediaquery_wrap {
  max-width: var(--max-width);
  min-width: var(--min-width);
  background-color: var(--color-white);
  margin: auto;

  position: relative;

  .content_wrap {
    padding: 140px 10px 40px;
    min-height: 540px;
  }
}

.back_shadow {
  box-shadow: 4px 4px 8px rgba(85, 85, 85, 0.1);
}
.yellow {
  background-color: var(--color-bg-yellow);
}
.ivory {
  background-color: var(--color-bg-ivory);
}
.deepPink {
  background-color: var(--color-bg-deep-pink);
}
.pink {
  background-color: var(--color-bg-pink);
}
.blue {
  background-color: var(--color-bg-blue);
}
.green {
  background-color: var(--color-bg-green);
}
