@use 'styles/mixins' as m;

.wrap {
  @include m.flexboxColumn();
  gap: 20px;

  .commentWrap {
    width: 100%;
    @include m.flexboxColumn();
    gap: 10px;
    margin-bottom: 5px;
  }
}

.blue {
  background-color: #eaf5ff;
}

.commentBox {
  width: 100%;
  border-radius: var(--border-radius-m);
  padding: 5px 10px;

  @include m.flexbox(between);

  .commentTextBox {
    width: 85%;
    @include m.flexboxColumn(_, start);

    .topBox {
      width: 100%;
      @include m.flexbox(between);

      .userWrap {
        @include m.flexbox();
        gap: 8px;
        font-size: var(--font-size-s);

        .createTime {
          font-size: var(--font-size-xs);
        }
      }

      .buttomBox {
        @include m.flexbox();
        gap: 10px;
        margin-right: 5px;

        button {
          font-size: var(--font-size-s);
          color: var(--color-gray-6);
        }
      }
    }

    .inputWrap {
      width: 98%;
      @include m.flexbox(between);
      border-bottom: 1.5px dashed var(--border-color);
      height: 25px;

      .inputText {
        width: 85%;
        font-size: var(--font-size-m);
        padding: 0 5px;
      }
      .textCount {
        text-align: end;
        width: 15%;
        font-size: var(--font-size-xs);
      }
    }
  }
}
