@use 'styles/mixins' as m;

.wrap {
  @include m.flexboxColumn();
  gap: 20px;

  .commentWrap {
    width: 100%;
    @include m.flexboxColumn();
    gap: 10px;
    margin-bottom: 5px;
  }

  .noComments {
    padding: 10px;
    p,
    h3 {
      color: var(--color-gray-9);
    }
  }
}
