@use 'styles/mixins' as m;

$icon-size: 2rem;

.wrap {
  @include m.flexboxColumn(center, between);
  gap: 20px;

  .contentWrap {
    @include m.flexboxColumn(between);
    gap: 10px;
  }

  .btnBox {
    margin: auto;
    padding: 8px 10px;
    @include m.flexbox(between);
    @include m.borderStyles();

    gap: 15px;

    .likeIcon {
      @include m.iconStyles($icon-size, $icon-size, '/svgs/like.svg');

      p {
        font-weight: var(--font-weight-bold);
        color: var(--color-white);
      }
    }

    .linkIcon {
      @include m.iconStyles($icon-size, $icon-size, '/svgs/link.svg');
    }
  }
}
