@forward 'flexbox';

@mixin textEllipsis($width: 100%) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: nowrap;
}

@mixin iconStyles($width, $height, $background-image) {
  width: $width;
  height: $height;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url($background-image);
}

@mixin borderStyles($border_size: 2px, $radius_size: --border-radius-s) {
  border: $border_size solid var(--border-color);
  border-radius: var($radius_size);
}
