@use 'styles/mixins' as m;

.wrap {
  text-align: center;

  padding: 20px;

  .contentWrap {
    width: 90%;
    margin: auto;
    padding: 20px 0;

    span {
      font-weight: bold;
    }

    @include m.flexboxColumn();
    gap: 40px;

    h2 {
      width: 100%;
      font-size: var(--font-size-l);
      border-radius: var(--border-radius-m);
      background-color: var(--color-bg-yellow);
    }

    p {
      font-size: 0.9rem;
      margin: 8px;
      line-height: 1.7;
    }
  }

  .iconBox {
    @include m.flexbox(between);
    gap: 15px;

    .gitHubIcon {
      @include m.iconStyles(1.8rem, 1.8rem, '/svgs/gitHub.svg');
    }
    .rssIcon {
      @include m.iconStyles(1.7rem, 1.7rem, '/svgs/rss.svg');
    }
    .instagramIcon {
      @include m.iconStyles(2rem, 2rem, '/svgs/instagram.svg');
    }
  }
}
