@use 'styles/mixins' as m;

.wrap {
  text-align: center;
  padding: 20px;

  .contentWrap {
    width: 90%;
    margin: auto;
    padding: 20px 0;

    .pangLogo {
      background-color: var(--color-bg-yellow);
      border-radius: 1rem;
    }

    span {
      font-weight: bold;
    }

    @include m.flexboxColumn();
    gap: 30px;

    h2 {
      width: 100%;
      font-size: 1.1rem;
      padding: 2px;
      border-radius: var(--border-radius-m);
      background-color: var(--color-bg-yellow);
    }

    p {
      font-size: 0.9rem;
      margin: 8px;
      line-height: 1.7;
    }
  }
  .contentBox {
    width: 100%;
  }

  .message {
    width: 100%;
    padding: 20px;
    background-color: var(--color-bg-ivory);
    @include m.flexboxColumn();
    gap: 20px;
    p {
      margin: 0;
      line-height: 0.5;
    }
    border-radius: 1rem;

    .iconBox {
      @include m.flexbox(between);
      gap: 15px;
      
      .notion {
        @include m.iconStyles(1.7rem, 1.7rem, '/svgs/notion.svg');
      }

      .gitHubIcon {
        @include m.iconStyles(1.8rem, 1.8rem, '/svgs/gitHub.svg');
      }
    }
  }
}
