@use 'styles/mixins' as m;

.wrap {
  position: relative;
  width: 100%;

  .resultItemWrap {
    width: 100%;
    height: 245px;
    @include m.flexbox(between);
    @include m.borderStyles();
    overflow: hidden;

    .imgWrap {
      width: 40%;
      height: 100%;
      position: relative;
      overflow: hidden;

      .image {
        object-fit: cover;
        object-position: center;
      }
    }

    .contentBox {
      width: 60%;
      height: 100%;
      white-space: pre-wrap;
      @include m.flexboxColumn(start, end);
      gap: 10px;
      padding: 10px;

      .title {
        @include m.textEllipsis();
        padding: 0 6px 5px;
        border-bottom: 1.5px dashed var(--color-gray-a);
        font-size: 1rem;
      }

      .content {
        width: 100%;
        padding: 0 5px;

        height: 70%;
        font-size: 0.9rem;

        overflow: auto;
        word-wrap: break-word;
        word-break: keep-all;
        text-overflow: ellipsis;
      }
    }
  }
}

.titleWrap {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 0.5rem 0.5rem;

  @include m.flexbox(between);

  .contentTitle {
    width: 100%;
    @include m.textEllipsis();
    font-size: var(--font-size-m);
    overflow: hidden;
    font-weight: 500;
    color: var(--color-white);
  }
  .date {
    font-size: var(--font-size-s);
    color: var(--color-gray-c);
  }
}
