@use 'styles/mixins' as m;

.resultItemWrap {
  width: 100%;
  height: 210px;
  @include m.borderStyles();
  @include m.flexbox(between);
  overflow: hidden;

  .imgWrap {
    width: 40%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .image {
      object-fit: cover;
      object-position: center;
    }
  }
  .contentBox {
    width: 60%;
    height: 100%;
    white-space: pre-wrap;

    @include m.flexboxColumn(between, end);

    padding: 10px;

    .title {
      @include m.textEllipsis();
      padding: 0 6px 5px;
      border-bottom: 1.5px dashed var(--color-gray-a);
      font-size: 1rem;
    }

    .content {
      width: 100%;
      padding: 0 5px;

      background-color: antiquewhite;

      height: 70%;
      font-size: 0.9rem;

      overflow: hidden;
      word-wrap: break-word;
      word-break: keep-all;
      text-overflow: ellipsis;
    }

    .date {
      font-size: var(--font-size-s);
      color: var(--color-gray-9);
    }
  }
}
