@use 'styles/mixins' as m;

.wrap {
  width: 100%;
  @include m.flexboxColumn(between);
  gap: 25px;

  .userWrap {
    width: 80%;
    padding: 8px 10px;

    @include m.flexbox(between);
    @include m.borderStyles();

    img {
      border-radius: var(--border-radius-s);
    }

    .userInfo {
      width: 78%;
      @include m.flexboxColumn(between, _);
      gap: 5px;

      .user {
        @include m.flexbox(between, end);

        .userName {
          font-size: var(--font-size-m);
        }

        .roleTag {
          font-size: var(--font-size-xs);
          padding: 1px 5px;
          @include m.borderStyles();
        }

        .createdAt {
          font-size: var(--font-size-s);
        }
      }
    }
  }

  .categoryContainer {
    width: 80%;

    .categoryBtnBox {
      width: 100%;
      @include m.flexbox(around);

      button {
        @include m.flexboxColumn();
        gap: 10px;
        font-weight: var(--font-weight-bold);
      }
    }
  }

  .addContentBtn {
    padding: 3px 8px;
    color: var(--font-color);
    font-size: 0.7rem;
    background-color: var(--color-bg-pink);
    border-radius: 1rem;
  }

  .windowWrap {
    width: 100%;

    .deleteUserBtn {
      margin-top: 10px;
      font-size: var(--font-size-s);
      color: var(--color-gray-9);
    }
  }
}

.nonLoginContainer {
  @include m.flexboxColumn();
  gap: 30px;
  margin: 50px 0;

  .nonLoginText {
    color: var(--color-gray-6);
    margin: 50px;
  }
}
