@use 'styles/mixins' as m;

// animation
@keyframes slideIn {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.open {
  overflow: hidden;

  ul {
    animation: slideIn 0.4s ease;
  }
}

.closed {
  overflow: hidden;

  ul {
    animation: slideOut 0.4s ease;
    animation-fill-mode: forwards;
  }
}

.meunWrap {
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 130;

  background-color: rgba(88, 88, 88, 0.357);

  .logoLink {
    margin: 20px 0;
  }

  > ul {
    width: 45%;
    height: 100%;
    padding: 10px 15px;
    position: relative;

    @include m.flexboxColumn(start);
    gap: 15px;

    background-color: var(--color-white);
    box-shadow: 10px 0 10px -5px rgba(85, 85, 85, 0.1);

    .loginLink {
      @include m.borderStyles(1.5px);
      background-color: var(--color-bg-ivory);
      padding: 5px;
      margin: 15px 0;
      @include m.flexbox();

      a {
        @include m.flexbox();
      }
    }

    li {
      width: 100%;
      @include m.flexboxColumn(start, center);

      a {
        width: 100%;
        font-size: 1.2rem;
        @include m.flexbox(start);
        gap: 8px;
      }

      .ghostIcon {
        @include m.iconStyles(1rem, 1rem, '/svgs/ghost.svg');
      }

      .infoIcon {
        @include m.iconStyles(1rem, 1rem, '/svgs/info.svg');
      }

      .mypageIcon {
        @include m.iconStyles(1rem, 1rem, '/svgs/user.svg');
      }
    }
  }

  .logoutBtn {
    width: 60%;
    height: 30px;

    position: absolute;
    bottom: 30px;
    font-size: 1rem;

    @include m.flexbox(around);
    @include m.borderStyles(1.5px);

    color: var(--font-color);

    .logoutIcon {
      @include m.iconStyles(1rem, 1rem, '/svgs/logout.svg');
    }
  }
}
