@use 'styles/mixins' as m;

$width: 320px;

.wrap {
  max-width: var(--max-width);
  min-width: var(--min-width);
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  z-index: 200;
  background-color: rgba(88, 88, 88, 0.357);

  overflow: hidden;

  .modalContainer {
    width: $width;
    position: absolute;
    top: 35%;
    left: calc(50% - ($width/2));

    border-radius: 0.5rem;
    background-color: var(--color-bg-ivory);

    .modalWrap {
      position: relative;

      .topCloseBtn {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 7px;
        top: 7px;
      }

      .modal {
        @include m.flexboxColumn();
        gap: 20px;

        p {
          white-space: pre-wrap;
          text-align: center;
        }

        .modalBtnBox {
          @include m.flexbox();
          gap: 40px;

          button {
            padding: 7px 15px;
            color: var(--font-color);
            @include m.borderStyles();
          }
          .checkBtn {
            font-weight: var(--font-weight-bold);
            background-color: var(--color-bg-yellow);
          }
        }
      }
    }
  }
}
