@use 'styles/mixins' as m;

.wrap {
  @include m.flexboxColumn(_, between);
  gap: 20px;

  .btnBox {
    width: 100%;
    @include m.flexbox(around);
  }

  .clientArea {
    @include m.flexbox();
    width: 100%;
  }

  .bannerWrap {
    width: 100%;
    height: 100%;
    --swiper-theme-color: var(--color-bg-green);
  }
}
