@use 'styles/mixins' as m;

.wrap {
  width: 100%;
  @include m.flexboxColumn(start, between);
  gap: 20px;

  .inputWrap {
    @include m.flexbox(between);
    @include m.borderStyles();
    box-shadow: 3px 4px var(--border-color);
    gap: 2px;

    .nonLogin {
      width: 100%;
      height: 100%;
      padding: 10px;
    }

    .commentInput {
      width: 73%;
      padding: 10px;
    }
    .textCount {
      text-align: end;
      width: 10%;
      font-size: var(--font-size-xs);
    }

    .submitBtn {
      width: 15%;
      height: 36px;
      border-left: 2px solid var(--border-color);
      background-color: var(--color-bg-yellow);
    }
  }
}
