@use 'styles/mixins' as m;

.wrap {
  width: 100%;
  @include m.flexboxColumn(start, between);
  gap: 20px;

  .inputWrap {
    @include m.flexbox(between);
    @include m.borderStyles();
    gap: 2px;

    .nonLogin {
      width: 100%;
      height: 100%;
      padding: 10px;
      font-size: 0.9rem;
      font-weight: 600;
      color: var(--font-color);
    }

    .commentInput {
      width: 70%;
      padding: 8px;
      font-size: 16px;
    }
    .textCount {
      text-align: end;
      width: 15%;
      padding: 2px;
      font-size: 0.7rem;
      color: var(--color-gray-9);
    }

    .submitBtn {
      width: 12%;
      height: 36px;
      border-left: 2px solid var(--border-color);
      background-color: var(--color-bg-yellow);

      .submitBtnIcon {
        margin: auto;
        @include m.iconStyles(1.2rem, 1.2rem, '/svgs/submit.svg');
      }
    }
  }
}
