@use 'styles/mixins' as m;

$button-size: 1.4rem;
$title-width: 80px;

.wrap {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--color-white);

  .titleBtn {
    width: $title-width;
    position: absolute;
    top: 20px;
    left: calc(50% - $title-width / 2);
  }

  .headerBox {
    @include m.flexbox(between);
    .btnBox {
      @include m.flexbox(between);
      gap: 20px;
    }
    .searchBtn {
      @include m.iconStyles($button-size, $button-size, '/svgs/search.svg');
    }
    .menuBtn {
      @include m.iconStyles($button-size, $button-size, '/svgs/menu.svg');
    }
    .loginBtn {
      @include m.iconStyles($button-size, $button-size, '/svgs/login.svg');
    }
  }
}
