@use 'styles/mixins' as m;

$icon-size: 1rem;

.wrap {
  width: 100%;
  padding: 10px;
  background-color: var(--color-bg-pink);
  @include m.flexboxColumn(between, end);

  p {
    font-size: var(--font-size-s);
    color: var(--color-font);
  }

  .contentsBox {
    width: 100%;
    height: 100%;
    @include m.flexbox(between, end);
    gap: 10px;

    .iconBox {
      @include m.flexbox(between);
      gap: 15px;

      .gitHubIcon {
        @include m.iconStyles(1.3rem, 1.3rem, '/svgs/gitHub.svg');
      }
      .rssIcon {
        @include m.iconStyles(1.2rem, 1.2rem, '/svgs/rss.svg');
      }
      .instagramIcon {
        @include m.iconStyles(1.4rem, 1.4rem, '/svgs/instagram.svg');
      }
    }

    .docsBox {
      @include m.flexbox(around);
      gap: 8px;

      span {
        color: var(--color-font);
        font-size: var(--font-size-xs);
      }
    }
  }
}
